

.pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

h1 {
    text-align: center;
    font-family: 'Big Shoulders Display';
}

.left, .right {
    background-color: #fc9fb3;
    padding: 10px 20px;
    font-size: 25px;
    color: white;
    
}

.left {
    margin-left: 47%;
    margin-top: 10px;
}



